@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&display=swap');

:root {
  --bg-dark: var(--color-base);
  --bg-light: var(--color-surface-strong);
  --bg-input: var(--color-surface-muted);
  --bg-workspace: var(--color-base-secondary);
  --border: var(--color-neutral-dark);
  --text-editor-base: var(--color-basic);
  --text-editor-active: var(--color-highlight);
  --bg-editor-sidebar: var(--color-base-secondary);
  --bg-editor-active: var(--color-code-border);
  --border-editor-sidebar: var(--color-neutral-dark);
  background-color: var(--color-base) !important;
  --bg-neutral-muted: var(--color-neutral-muted);
}

body {
  margin: 0;
  font-family:
    -apple-system, "SF Pro", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--color-code-surface);
  border-radius: 4px;
  color: var(--color-border-subtle);
  border: 1px solid var(--color-code-border);
  letter-spacing: -0.2px;
}

.markdown-body pre code {
  padding: 0;
  background-color: inherit;
}

.markdown-body {
  white-space: pre-wrap; /* Handles line breaks */
}

.markdown-body th {
  text-align: left;
}

.markdown-body th,
.markdown-body td {
  padding: 0.1rem 1rem;
}

/* Fast smooth scrolling for chat interface */
.fast-smooth-scroll {
  scroll-behavior: smooth;
  scroll-timeline: 100ms;
}
